/* BACKGOUNDS */
$bg900: rgb(191,54,12);
$bg800: rgb(216,67,21);
$bg700: rgb(230,74,25);
$bg600: rgb(244,81,30);
$bg500: rgb(255,87,34);
$bg400: rgb(255,112,67);
$bg300: rgb(255,138,101);
$bg200: rgb(255,171,145);
$bg100: rgb(255,204,188);
$bg50:  rgb(251,233,231);
$bgDark: #000;
$bgLight: #fff;

/* TEXT */
$textPrimary: rgb(0,0,0);
$textInactive: rgba(50, 50, 50, 0.5);
$textLight: rgb(232,234,246);

/* COLORS */
$clLightGrey: rgb(158,158,158);
$clDarkGrey: rgb(33,33,33);
$clLightBrown: rgb(239,235,233);
$clBrown: rgb(121,85,72);
$clDarkBrown: rgb(62,39,35);
$clOrange: rgb(216,67,21);